* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
.clearfix {
    overflow: auto;
}
.container {
    display: block;
    width: 1270px;
    margin: 0 auto;
    background-size: cover;
    background: url('../img/header-background.jpg')no-repeat center bottom;
}
nav {
    display: block;
    padding: 25px 0;
    margin: 0;
    position: fixed;
    top:0;
    background-color: white;
    z-index: 2;
    width: 1300px;
}
.header-logo {
    display: block;
    float: left;
    margin: 0 50px;
}
ul.header-nav {
    float: right;
    padding: 0;
    margin: 0 50px;
    list-style-type: none;
}
ul.header-nav > li {
    display: inline-block;
}
ul.header-nav > li > a {
    display: inline-block;
    padding: 18px 10px;
    color: #8f969d;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
ul.header-nav > li > a:hover{
    color: black;
}
.nav-li-button {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #FF8C00;
    border-radius: 40px;
}
.nav-li-button:focus, .nav-li-button:hover{
    background: #808080;
}
.top-banner {
    float: none;
    display: block;
    padding-top: 190px;
    margin: 0;
    text-align: center;
}
h2 {
    display: block;
    font:  600 79px/1 "Poppins",sans-serif;
    margin: 0 0 20px;
    padding: 0;
    color: #696969;
}
p {
    max-width: 800px;
    display: block;
    margin: 0 auto 40px;
    padding: 0;
    font: 300 27px/41px "Poppins",sans-serif;
    color: #A9A9A9;
}
.paypal-button {
    display: inline-block;
    padding: 15px 80px;
    margin: 0 0 80px 0;
    text-decoration: none;
    font: 300 27px/41px "Poppins",sans-serif;
    background-color: dodgerblue;
    border-radius: 40px;
    cursor: pointer;
    color: #fff;
}
.paypal-button:focus, .paypal-button:hover{
    background: #000080;
}
.apple-watch {
    margin: 20px 50px;
}



section {
    text-align: center;
    padding: 100px;
}
h3 {
    display: block;
    font:  600 48px/1 "Poppins",sans-serif;
    margin: 0 0 20px;
    padding: 0;
    color: #696969;
}
.product-description {
    max-width: 800px;
    display: block;
    margin: 0 auto 40px;
    padding: 0;
    font: 300 25px/41px "Poppins",sans-serif;
    color: #A9A9A9;
}
.product-description::after{
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    margin: 20px auto 60px auto;
    background-color: #eee;
}
.conteiner-section-1 .circle-container {
    background: url("../img/apple-watch-2.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 347px;
    height: 499px;
    position: relative;
    margin: 0 auto;
}
.conteiner-section-1 .circle-container > .circle{
    position: absolute;
    top:0;
    left: 0;
    width: 13px;
    height: 12px;
    background-color: #0c4eca;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.circle:hover::before{
    content: "";
    position: absolute;
    top:-9px;
    left:-9px;
    width:25px;
    height: 25px;
    border: 3px solid #0c4eca;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.conteiner-section-1 .circle-container > .circle:nth-child(1){
    top: 70px;
    right: 23px;
    left: initial;
}
.conteiner-section-1 .circle-container > .circle:nth-child(2){
    top: 157px;
    left: 1px;
}
.conteiner-section-1 .circle-container > .circle:nth-child(3){
    top: 265px;
    left: 230px;
}
.conteiner-section-1 .circle-container > .circle:nth-child(4){
    top: initial;
    bottom: 110px;
    left: 24px;
}



.section-2{
    margin: 0;
    padding: 100px 0;
    display: block;
    height: 800px;
    background-color: #f8fbfd;
    background-size: cover;    
}
.container-bloks{
    display: block;
    padding-top: 40px;
    box-align: center;
}
.block{
    display: inline-block;
    width: 33%;
    float: left;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;  
}
h4{
    display: block;
    font:  600 33px/1 "Poppins",sans-serif;
    margin: 0 0 20px;
    padding-top: 40px;
    color: #696969;
}
.block-description{
    max-width: 800px;
    margin: 0 auto 40px;
    padding: 0;
    font: 300 17px/28px "Poppins",sans-serif;
    color: #A9A9A9;
}
.block-arrow{
    position: absolute;
    display: block;
    top: 36px;
    right: 0;
    width: 25px;
    height: 25px;
    border-top: 1px solid #a6afba;
    border-right: 1px solid #a6afba;
    transform: rotate(45deg);
}


.section-3{
    margin: 0;
    padding: 100px 0;
    display: block;
    height: 800px;
}
.product-description-2::after{
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    margin: 20px auto 60px auto;
    background-color: #eee;
}
.section3-bloks{
    display: block;
    width: 1290px;
}

.benefits-block-1{
    display: inline-block;
    position: relative;
    width: 25%;
    margin: 0 20px;
}

@font-face {
  font-family: "Flaticon";
  src: url("./110798-linecons/font/Flaticon.eot");
  src: url("./110798-linecons/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./110798-linecons/font/Flaticon.woff") format("woff"),
       url("./110798-linecons/font/Flaticon.ttf") format("truetype"),
       url("./110798-linecons/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.flaticons {
    font-family: "Flaticon", sans-serif;
    display: inline-block;
    font-style: normal;
    font-size: 35px;
    color: #0f33ff;
    position: absolute;
    top: 30px;
    left: -23px;
}
.flaticon-location-gps::before { content: "\f113"; }
.flaticon-heart-shape::before { content: "\f110"; }
.flaticon-locked-padlock::before { content: "\f114"; }
.flaticon-small-light-bulb::before { content: "\f122"; }
.flaticon-banknote::before { content: "\f100"; }
.flaticon-chemistry::before { content: "\f104"; }

.p-left{
    text-align: left;
}




.section-vertical-blocks{
    display: inline-block;
    margin: 10px 0;
    padding: 0;
    background-color: #f8fbfd;
    background-size: cover;
}
.section-4{
    display: inline-block;
    margin: 100px 60px;
    padding: 0;
    width: 25%;
}
.block-2{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}
.block-description{
}
.flaticon-small-key::before { content: "\f121"; }
.flaticon-big-megaphone::before { content: "\f101"; }
.flaticon-diamond::before { content: "\f108"; }
.flaticon-like:before { content: "\f112"; }
.flaticon-user-avatar::before { content: "\f12a"; }
.flaticon-wristwatch::before { content: "\f12e"; }








.section-5{
    display: block;
    margin: 150px 0 100px 0;
    padding: 0;
}
.conteiner-section-5{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.list-section-5{
    display: inline-block;
    list-style-type: none;
}
.section-5-img{}
.step-theme-section-5{
    display: block;
    margin: 15px 0 0 0;
    padding: 0;
    font: 600 17px/28px "Poppins",sans-serif;
    color: #1E90FF;
}
.step-description-section-5{
    display: block;
    margin: 0;
    padding: 0;
    font: 300 15px/1px "Poppins",sans-serif;
    color: #D3D3D3;
}
.price{
    display: block;
    margin: 15px 0;
    padding: 0;
    font: 700 18px/28px "Poppins",sans-serif;
    color:  #FF4500;
}
.section-5-button{
    display: block;
    margin: 0 70px;
    padding: 0;
    font: 300 12px/28px "Poppins",sans-serif;
    color: #D3D3D3;
    text-decoration: none;
    border: 0.5px solid #DCDCDC;
    border-radius: 40px;
    cursor: pointer;
}
.section-5-button:focus, .section-5-button:hover{
    background:  #374048;
}




.section-6{
    margin:0;
    padding:0;
    width: 1300px;
    background-color: #f8fbfd;
    background-size: cover;

}
.container-6{
    margin:0;
    padding:0;
}
.watch{
    display: block;
    margin:0 100px;
    padding:0 100px;
    float: left;
    width: 50%;
}
.watch-name{
    text-align: left;
    margin: 30px 75px;
    padding: 100px 0 0;

}
.watch-description{
    text-align: left;
    margin: 0 75px;
    width:40%;
    font: 300 23px/32px "Poppins",sans-serif;
}
.container-watch-list{
    display: block;
    position: relative;
    margin:0;
    padding:0;
    float: left;
    list-style: none;
    color: #A9A9A9;
    text-align: left;
    font: 300 20px/32px "Poppins",sans-serif;
}

.watch-list{
    display: block;
    position: relative;
    margin:0;
    padding:0 75px;
    float: left;
    list-style: none;
    color: #A9A9A9;
    text-align: left;
    font: 300 20px/32px "Poppins",sans-serif;
}
.watch-list-item{
    font: 300 20px/32px "Poppins",sans-serif;
    margin: 20px 0;
}
.watch-list-item:before{
    width: 35px;
    height: 35px;
    content: '';
    background: url("../img/Checkbox Full.png") no-repeat scroll 0 0;
    float: left;
}
.watch-img{
    display: block;
    position: relative;
    margin:0;
    padding:0;
    left:400px;   
    top:-254px;
}
