body {
	background: #C6E2FF;
	align-content: space-around;
}
aside{
	float: right; 
	background: #f0f0f0;
	padding: 10px;
	width: 200px;
}
table{
	border: 2px solid #000080;
	background: #9FB6CD;
}
td, th{
	border: #B22222;
	text-align: center;
	vertical-align: top;
	width: 200px;
}
th{
	background: #6C7B8B;	
}
header{

}
.picture{
	position: relative; 
    transform-style: preserve-3d; 
    transition: 1s; 
   
}
.picture:hover {
    transform: rotateY(180deg); 
}
.front-side {
 	position: absolute; 
    top: 0; bottom: 0; 
}
.back-side{
	background: #4B846A; 
    font: 18px/1.6 Arial; 
    padding: 20px; 
    color: #fff; 
    transform: rotateY(180deg); 
    backface-visibility: hidden; 
}
